@font-face {
    font-family: "RedMoonRising";
    src: url(font/redmoonrising.otf) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Asap;
    src: url(../Font/Asap-Regular/Asap-Regular.woff) format('woff');
}
