* {
    font-family: Quicksand;
    padding: 0;
    margin: 0;
}
html {
	box-sizing: border-box;
    font-size: 100%;
    overflow-y: hidden;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* ____________________________________ */

#star {
    background-image: url(image/star_bg.svg);
    background-size: cover;
}
#moon {
    background-image: url(image/moon_bg.svg);
    background-size: cover;
}
#emperor {
    background-image: url(image/emperor_bg.svg);
    background-size: cover;
}
#hierophant {
    background-image: url(image/hierophant_bg.svg);
    background-size: cover;
}
#lovers {
    background-image: url(image/lovers_bg.svg);
    background-size: cover;
}
#chariot {
    background-image: url(image/chariot_bg.svg);
    background-size: cover;
}
#strength {
    background-image: url(image/strength_bg.svg);
    background-size: cover;
}
#hermit {
    background-image: url(image/hermit_bg.svg);
    background-size: cover;
}
#justice {
    background-image: url(image/justice_bg.svg);
    background-size: cover;
}
#death {
    background-image: url(image/death_bg.svg);
    background-size: cover;
}
#temperance {
    background-image: url(image/temperance_bg.svg);
    background-size: cover;
}
#devil {
    background-image: url(image/devil_bg.svg);
    background-size: cover;
}

#special{
    font-size: 2em;
}
#special p {
    color: white;
}


.flexbox {
    display: flex;
    height: 100vh;
}

.tarotname {
    position: relative;
}

.tarotname:hover .overlay {
    opacity: 0.5;
}
.tarotname:hover .zodiac p {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    color: #250072;
    font-weight: bold;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: white;
    z-index: 0;
}
 
.smallbox {
    margin-top: 2em;
}
.smallbox h1 {
    margin: 0;
    font-size: 5em;
    font-weight: normal;
    letter-spacing: 6px;
    color: white;
}
.smallbox img {
    width: 40%;
    margin: 1.5em 0 1.8em;
    box-shadow: 0px 0px 40px rgb(53, 53, 53);
    border-radius: 15px;
}
.smallbox p {
    width: 100%;
    padding: 0em 5em;
    line-height: 2em;
    color: white;
}
#bigbox {
    background-image: url(image/homepage_bg.svg);
    background-size: cover;
    width: 35.08%;
    transition: width 0.5s;
    color: white;
}
.inputbox h1 {
    font-size: 6em;
}
.inputbox p {
    font-size: 1.2em;
}
.inputbox {
    margin-top: 0vh;
    text-align: center;

    width: 100%;
}
.inputbox h1 {
    color: white;
    letter-spacing: 10px;
    font-weight: normal;
    line-height: 0.8em;
}
.inputbox hr {
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 2em auto;
    text-align: center;
}
.inputbox p {
    margin:0;
}



h1 {
    font-family: 'RedMoonRising';
    font-size: 6em;
}

#birthday {
    background:rgba(255,255,255, 0.3);
    color: white;
    font-size: 1.3em;
    border: none;
    border-radius: 70px;
    padding: 10px 7px 10px 21px;
    margin: 0.6em 0 3em;
    box-shadow: 0px 0px 20px rgb(49, 49, 49);
}

#submit input{
    background-color:rgba(255, 255, 255, 0.0);
    border: 3px solid white;
    border-radius: 60px;
    padding: 10px 15px;
    color: white;
    font-size: 1.3em;
    letter-spacing: 2px;
    box-shadow: 0px 0px 20px rgb(37, 37, 37);
    transition: 0.35s ease-in-out ;
}
#submit input:hover {
    background-color:rgba(255, 255, 255, 1);
    color:#5A00B0;
    font-weight: bold;
    transition: 0.35s ease-in-out ;
    transform: scale(1.05);
    
}

.tarotname {
    min-width: 5.41%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    transition: width 0.5s; 
}

.zodiac {
    text-align: center;
    line-height: 2.7em;
    font-size: 1.6em;
    font-weight: bold;
}
.zodiac p {
    font-family: 'RedMoonRising';
    position: relative;
    z-index: 10;
    transition: 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.4)
}



.insidebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.insidebox h2 {
    font-family: RedMoonRising;
    font-size: 5em;
    margin-bottom: 0.3em;
}
.insidebox img {
    width: 47%;
}

/* ____________________________________________ */




.help  {
    border: 2px solid white;
    border-radius: 50px;

    padding: 8px 14px;
    margin: 4em 50vw;
    text-align: center;


    color: white;
    box-shadow: 0px 0px 20px rgb(37, 37, 37);
    background: none;
    
    transition: 0.35s ease-in-out;   
}
.help:hover {
    background-color: #910BB9;
    transition: 0.35s ease-in-out ;
    cursor: pointer;
}

.modal {
	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal .blanket {
	background-color: rgba(0, 0, 0, .6);
    filter: blur(8px);
	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.modal-content {
    padding: 4em 0;
}
.modal-content p {
    color: white;
    width: 38vw;
    margin: 0 auto;

}

.modal-body {
    border-radius: 50px;
    border: 10px solid white;
    background-color: rgba(0, 0, 0, .8);	
	
	max-width: 37vw;

	position: relative;
	z-index: 101;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1rem;
	font-weight: 300;
	text-align: center;
}
#btn-modal-close {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid white;
    border-radius: 50px;

    padding: 8px 14px;
    margin: 2em 50vw 0;
    text-align: center;
    

    color: white;
    box-shadow: 0px 0px 20px rgba(37, 37, 37, 0.3);
    background: none;
    
    transition: 0.35s ease-in-out;
}
#btn-modal-close:hover {
        background-color: #910BB9;
        transition: 0.35s ease-in-out ;
        cursor: pointer;
}

[hidden] {
	display: none !important;
}


